<md-dialog flex="85">
	<md-dialog-content layout="column"> 
		<md-toolbar layout="row" layout-align="space-around center">
	    		<h2>Compilation Errors</h2>
	    </md-toolbar>
	
		<md-data-table-container style="max-height: 250px; overflow-y: auto;">
			<table md-data-table style="margin-top:10px;" md-row-select="selected">
			    <thead>
			        <tr md-row>
		                <th md-column class="col-md-3" ng-if="isDir">File</th>
		                <th md-column class="col-md-1 text-right">Row</th>
		                <th md-column class="col-md-1 text-right">Col</th>
		                <th md-column class="col-md-1 text-right">#Num</th>
		                <th md-column class="{col-md-6: isDir, col-md-9: !isDir}">Message</th>
		            </tr>
			    </thead>
			    <tbody>
			        <tr md-auto-select ng-repeat="error in errors">
			        		<td md-cell ng-if="isDir">
		                    <input class="k-textbox full-cell-width" type="text" disabled="true" ng-model="error.errFile"/>
		                </td>
			        		<td md-cell>
		                    <input class="k-textbox full-cell-width text-right" type="text" disabled="true" ng-model="error.errRow"/>
		                </td>
		                <td md-cell>
		                    <input class="k-textbox full-cell-width text-right" type="text" disabled="true" ng-model="error.errCol"/>
		                </td>
		                <td md-cell>
		                    <input class="k-textbox full-cell-width text-right" type="text" disabled="true" ng-model="error.errNum"/>
		                </td>
		                <td md-cell>
		                    <input class="k-textbox full-cell-width" type="text" disabled="true" ng-model="error.errMsg"/>
		                </td>
			        </tr>
			    </tbody>
			</table>
		</md-data-table-container>
	
		<md-table-pagination md-limit="5" md-page="1" md-total="{{errors.length}}" md-on-paginate="onPaginate" md-page-select></md-table-pagination>
	</md-dialog-content>
	
	<md-dialog-actions>
    		<md-button class="md-primary md-raised" ng-click="close()">Close</md-button>
	</md-dialog-actions>
</md-dialog>